{% set link = "1" %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "0-unhappy"}] %}

{% block csi %}

<h1 class="govuk-heading-xl">[check for details on searchlight]</h1>

<p>Check for {{data['csi-info'][0]['name']}} and {{ data['csi-info'][0]['dob-day'] | safe }} {{ data['csi-info'][0]['dob-month']| safe }} {{ data['csi-info'][0]['dob-year'] | safe }}.</p>




{{ govukRadios({
  classes: "govuk-radios--inline",
       name: "personal",
       fieldset: {
         legend: {
           text: "[can you find them?]",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}



{% endblock %}
