{% set link = "3" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% set title =  "Does " + data['csi-info'][0]['name']  + " have an appointee?" %}


{% block csi %}

<p>Check  if {{ data['csi-info'][0]['name'] | safe }} has an appointee on Searchlight.</p>


{{ govukRadios({
  classes: "govuk-radios--inline",
       idPrefix: "appointee",
       name: "appointee",

       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
