{% set link = "details-needed" %}
{% set personalDetails =  true  %}
{% set hideChange = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
<!-- {% set redirect = [{id : "yes", page: link }, {id: "no", page: "1-unhappy"}] %} -->

{% block csi %}

{{ govukRadios({
  name: "unhappy-interview",
  fieldset: {
    legend: {
      text: "What information do you need to check?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "yes",
      text: "Length of interview"
    },
    {
      value: "no",
      text: "Cost of support"
    },
    {
      value: "no",
      text: "Both"
    }
  ]
}) }}




{% endblock %}
