{% set link = "../" %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% set title =  "[contact the application with about this information]" %}


{% block csi %}

<p>[list of information and how to contact the citizen]</p>

{{ govukRadios({
  classes: "govuk-radios--inline",
       name: "needed",
       fieldset: {
         legend: {
           text: "[have you contacted John Smith about the details?]",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
            id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
