<!--{% set  buttonText = false %}-->
{% set link = "./csi/payments-index" %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "1-unhappy"}] %}
{% set title =  "" %}


{% block csi %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
{{ govukPanel({
       titleText: "Tasks completed",
       html: "All tasks have been completed and information saved."
     }) }}


  <form action="#" method="post" novalidate>

    <input type="hidden" name="tasks-completed" value="yes">

    {{ govukButton({
          href: "../payments-index",
              text: "Return to search"
            }) }}

  </form>


  {% block pageScripts %}
  <style>
    .govuk-panel--confirmation {
        color: #fff;
        background: #00703c;
    }
    </style>
  {% endblock %}
{% endblock %}


{% endblock %}
