{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% if appointee %}{% set appointeeLink = "-appointee" %}{% else %}{% set appointeeLink = "" %}{% endif %}
{% set interviewLink = "true" %}
{% set link = "complete" %}
{% set interviewDetails =  true  %}
{% set title =  "[The amount on the claim form has been changed to xxxxx.]" %}
{% set hideChange = true %}

{% block csi %}

{% include folder + "/" + subfolder + "/csi/_CLAIMDETAILS.html" %}


<h2 class="govuk-heading-l">[What is the cancellation fee?]</h2>

{{ govukInput({
  label: {
    text: "[cancellation fee]"
  },
  id: "canellation",
  name: "canellation",
  classes: "govuk-input--width-10"
}) }}

<br>
{% endblock %}
