{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% if appointee %}{% set appointeeLink = "-appointee" %}{% else %}{% set appointeeLink = "" %}{% endif %}
{% set interviewLink = "true" %}
{% set link = "../close-case" %}
{% set redirect = [{id : "email", page: "1-unhappy-email" + appointeeLink }, {id: "phone", page: link}] %}


{% block csi %}

{% if appointee %}
{% set headerText = "How do you want to contact the applicant's appointee?" %}
{% else %}
{% set headerText = "[Is the interpreter eligible for a cancelation fee?]" %}
{% endif %}

{{ govukRadios({
       classes: "govuk-radios--inline",
       idPrefix: "cancel-fee",
       name: "cancel-fee",
       fieldset: {
         legend: {
           text: headerText,
           isPageHeading: true,
           classes: "govuk-fieldset__legend--xl"
         }
       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}
<br>
{% endblock %}
