{% if appointee %}{% set appointeeLink = "-appointee" %}{% else %}{% set appointeeLink = "" %}{% endif %}
{% set interviewLink = "true" %}
{% set link = "complete" %}
{% set redirect = [{id : "yes", page: link  }, {id: "no", page: "1-unhappy" + appointeeLink }] %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}

{% set headerText = "[Is the interpreter eligible for a cancellation fee?]" %}

{{ govukRadios({
       classes: "govuk-radios--inline",
       idPrefix: "cancel-fee",
       name: "cancel-fee",
       fieldset: {
         legend: {
           text: headerText,
           isPageHeading: true,
           classes: "govuk-fieldset__legend--xl"
         }
       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}
<br>
{% endblock %}
