{% set link = "2" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}



<h1 class="govuk-heading-xl">Send a confirmation email</h1>

<p>Copy and paste the following text into an email and send it to:
  <strong>thomas@email.com</strong></p>

  <div class="govuk-inset-text">
  Your application for interview support<br>
  <br>
  Your application for Communication Support at Interview has been accepted.
  You can now confirm and book your sign language interpreter or support worker.
  If you need to make any changes to your personal information or interview details,
  call us on 0800 121 7479.
</div>


{{ govukRadios({
       idPrefix: "send",
       name: "send",
       fieldset: {
         legend: {
           text: "Have you sent the email?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
