{% set link = "complete" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}


<h1 class="govuk-heading-xl">Print the letter and form</h1>

<p>[It is available on the shared drive at X.]</p>

{{ govukButton({
  text: "[print claim form]",
  classes: "govuk-button--secondary"
}) }}


{{ govukRadios({
       idPrefix: "send",
       name: "send",
       fieldset: {
         legend: {
           text: "[Have you printed out and sent the claim form?]",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
