{% set link = "complete" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}



<h1 class="govuk-heading-xl">Print and send the form and cover note</h1>

<p>Find the application form and cover note on the shared drive. Print and send
   it to the following address:</p>

  <div class="govuk-inset-text">
  4 Rose Close<br>
  Herbiton<br>
  HE32 3GR
</div>



{{ govukRadios({

    classes: "govuk-radios--inline",
       idPrefix: "claim",
       name: "claim",
       fieldset: {
         legend: {
           text: "Have you printed and sent the claim form?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
