{% extends folder + "/" + subfolder + "/_BASE.html" %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">Tasks complete</h1>

    <P>All tasks have been completed and information saved.
    The case will be available in <strong>Your priority cases</strong> after the
    interview date.</p>

    <br>

{{ govukButton({
      href: "/" + folder + "/" + subfolder + "/your-cases-waiting",
          text: "Return to your cases"
        }) }}


</div>
</div>

{% endblock %}
