{% set link = "3" %}
{% set interviewDetails =  true  %}
{% set hideChange = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}

<h1 class="govuk-heading-xl">Inteview details</h1>



{% include folder + "/" + subfolder + "/_CLAIMDETAILS.html" %}

{{ govukRadios({
       idPrefix: "interview",
       name: "interview",
       fieldset: {
         legend: {
           text: "Are the interview details complete and correct?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
