{% set link = "complete" %}
{% set communicationDetails =  true  %}
{% set hideChange = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}

<h1 class="govuk-heading-xl">Communication details</h1>



{% include folder + "/" + subfolder + "/_CLAIMDETAILS.html" %}

{{ govukRadios({
       idPrefix: "communication",
       name: "communication",
       fieldset: {
         legend: {
           text: "Are the communication details complete and correct?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
