
{% extends "layout.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Updated CSI Apply
        <span class="govuk-caption-xl"></span>



  <h3 class="govuk-heading-m">CSI Apply Full Journey</h3>
   <br>
  <ul class="govuk-list">
      <li><a class="govuk-link" href="/{{folder}}/baseline-as-is/service/apply">CSI apply journey</a></li>
  </ul>
  <ul class="govuk-list govuk-list--bullet">
    <h3 class="govuk-heading-s">Edit</h3>

  <li><a class="govuk-link" href="/{{folder}}/baseline-as-is/service/have-total-cost">Interpreter cost</a>, <a class="govuk-link" href="/{{folder}}/baseline-as-is/service/have-total-cost-no">Kickout page</a>, <a class="govuk-link" href="/{{folder}}/baseline-as-is/service/total-cost">Support cost</a></li>
</ul>

    </div>
</div>
















{% endblock %}
