{% set page = "task-list" %}
{% set title = "Your tasks" %}
{% extends "./_CSIBASE.html" %}

{% block csi %}

{% if not interview %}
              <ol class="app-task-list">
                      <li>
                        <h2 class="app-task-list__section">
                          <span class="app-task-list__section-number">1. </span> Review and decide
                        </h2>
                        <ul class="app-task-list__items">
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="check/1" aria-describedby="eligibility-completed">
                                Check application
                              </a>
                            </span>
  {% if interview or data['communication'] %}                          <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>{% elif data['personal'] %}<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">[In progress]</strong>{% endif %}
                          </li>
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="decision/1" aria-describedby="read-declaration-completed">
                                Approve or reject application
                              </a>
                            </span>
{% if interview or (data['decision'] == "accept")%}<strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong>{% elif data['decision'] %}<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">[In progress]</strong>{% endif %}
                          </li>
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="send/1" aria-describedby="read-declaration-completed">
                                Send confirmation letter
                              </a>
                            </span>
        {% if interview or (data['notifications'] =="yes") %}<strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong> {% elif data['send'] %}<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">[In progress]</strong>{% endif %}
                          </li>
                        </ul>
                      </li>
                      <li>
{% else %}  <!-- scenario if interview is true -->
                        <h2 class="app-task-list__section">
                          <span class="app-task-list__section-number">2. </span> After the interview
                        </h2>


                        <ul class="app-task-list__items">
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="confirm/1" aria-describedby="company-information-completed">
                                Confirm interview took place


                              </a>
                            </span>
                                              </li>
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="payment/1">
                                Send claim to payments team
                              </a>
                            </span>
                          </li>
                        </ul>
                      </li>
                    </ol>

{% endif %}


{% endblock %}



{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
          href: "index",
          text: "Index before interview"
        },
        {
          href: "index-interview",
          text: "Index after interview"
        }
      ]
    }
  }) }}

{% endblock %}
