{% set link = "5" %}
{% set companyDetails =  true  %}
{% set hideChange = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}




{% block csi %}

<h1 class="govuk-heading-xl">Check company details</h1>



{% include folder + "/" + subfolder + "/csi/_CLAIMDETAILS.html" %}

{% set conditionalText %}
{{ govukTextarea({
  name: "more-detail-4",
  id: "more-detail",
  value: data['more-detail-4'],
  label: {
    text: "[add more details]"
  },
  hint: {
    text: "[This will be added to the claim information to help you contact the applicant.]"
  }
}) }}
{% endset -%}


{{ govukRadios({
  classes: "govuk-radios--inline",
       idPrefix: "company",
       name: "company",
       fieldset: {
         legend: {
           text: "Are these details complete?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       hint: {
    text: "You can fix any small errors or mistakes in the Claim details tab."
  },
       items: [
       {
         id: "yes",
         value: "yes",
         text: "Yes"
       },
         {
           id: "no",
           value: "no",
           text: "No, I need to contact the applicant",
           checked: checked('company', "no"),
           conditional: {
             html: conditionalText
           }

         }
       ]
     }) }}

{% endblock %}
