{% set link = "../claim" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "unhappy-phone-2" }] %}

{% set title =  "[phone the appointee]" %}

{% block csi %}


<p>[Phone {{data['csi-info'][0]['name']}} on {{ data['csi-info'][0]['contact-by-phone'] }} to ask for more information.]</p>


<br>
</br>
{{ govukRadios({
     name: "asked-info-phone",
       fieldset: {
         legend: {
           text: "[Have you been able to contact the applicant?]",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes, continue to claim"

         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
