{% extends folder + "/_BASE.html" %}
{% block service %}

    <form id="form" method="post" action="interview-date">


    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Your job interview
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    	Is the job interview for a paid role?
    </h2>

    <div class="govuk-form-group">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-1" name="terminal" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="terminal-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-2" name="terminal" type="radio" value="no" aria-controls="no-reveal">
          <label class="govuk-label govuk-radios__label" for="terminal-2">
            No
          </label>
        </div>
      </div>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- job_company_name -->

    </form>


{% endblock %}

<script>
$( "#yes" ).click(function() {
 $("form").attr("action", "yinterview-date")
});
$( "#no" ).click(function() {
 $("form").attr("action", "sorry/cant_help_paid")
});
</script>
