
{% if data['appointee-contact-phone'] and not (data['appointee-email']) %}
{% set link = "1-unhappy-phone" %}
{% else %}
{% set link = "1-unhappy" %}
{% endif %}
{% set paymentAdviserLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% if data['appointee'] == 'yes' %}{% set appointeeLink = "-appointee" %}{% else %}{% set appointeeLink = "" %}{% endif %}
{% set redirect = [{id : "yes", page: "complete" },  {id: "no", page: link + appointeeLink } ] %}

{% set title = "[should this be approved?]" %}

{% block csi %}


{{ govukRadios({
       name: "send-approve",
       fieldset: {

       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes, send for approval"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}



{% endblock %}
