
{% extends "layout.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Sprint 6
        <span class="govuk-caption-xl">MVP unhappy path and payments</span>

        {{ govukDetails({
                  summaryText: "Notes on this sprint",
                  html: '
                  <p>This sprint we:</p>

                  <ul class="govuk-list  govuk-list--bullet">
                      <li>created alternatives for the MVP based on the unhappy path to explore the what’s minimum and viable</li>
                        <li>[add other sections here]</li>

                  </ul>'

                          }) }}

{% set mmvp %}

<h3 class="govuk-heading-m">Agent journey: new application</h3>

<ul class="govuk-list">
    <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases">Your cases</a></li>
          <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index">Your tasks</a> and  <a class="govuk-link" href="/{{folder}}/concepts/csi/claim">claim</a>
      <ul class="govuk-list govuk-list--bullet">
<li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/1">Check on searchlight</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/1-unhappy">holder unhappy path</a> - proposed jump to company details as it's not possible to check other details</li>
      <li> <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/2">check for appointee</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/2-appointee">add appointee details</a></li>
      <li>Check <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/3">claim details</a> and unhappy path:
  <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-1">[add to logger]</a> </li>
<li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-2">IF 2 FORMS OF CONTACT: [how to contact]</a> </li>
<li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-email-1">[send email]</a> and  <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-email-2">[add to logger]</a> </li>
<li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-phone-1">[phone applicant]</a> and  <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-phone-2">[unhappy path: add to logger]</a> </li>
</ul>
      </li>
          <li><a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/1">Send email</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/2">copy claim details</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/3">create cover letter</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/4">print and send</a> (no unhappy paths)</li>
</ul></li>
      <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-waiting">Your cases (waiting)</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/index-waiting">case index (waiting)</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/claim-waiting">claim (waiting)</a></li>
      </ul>

      <h3 class="govuk-heading-m">Agent journey: same-day application only</h3>

      <ul class="govuk-list">
          <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-same-day">Your cases (same day)</a></li>
                <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index-same-day">Your tasks (same day)</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/claim-same-day">claim (same day)</a></li>
            </ul>

      <h3 class="govuk-heading-m">Agent journey: after interview</h3>

      <ul class="govuk-list">
      <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-interview">Your cases</a></li>
      <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index-interview">Your tasks</a>
      <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/index">Contact employer</a>

              <ul>
              <li>Email:
      <a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/email/1">Send email</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/email/2">[add to logger]</a>
      </li>
        <li>Phone:
      <a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/email/1">Contact employer</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/email/1">unhappy path: [add to logger]</a>
      </li>

      <li>[update] (goes straight to confirm)</li>
      </li>

              <li><a class="govuk-link" href="/{{folder}}/concepts/csi/04-confirm/1">Confirm interview took place</a> and unhappy path: <a class="govuk-link" href="/{{folder}}/concepts/csi/04-confirm/1-unhappy">[send form to say that it's not being sent</a> - need more information!] </li>
              <li><a class="govuk-link" href="/{{folder}}/concepts/csi/04-confirm/complete">Tasks complete</a></li>
      </ul></li>
      <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-empty">Your cases (empty)</a></li>

      </ul>

{% endset -%}

<h3 class="govuk-heading-m">1. All unhappy path off ATWIS
  <span class="govuk-caption-m">Off-ATWIS notes and contact log</span></h3>
<p>Concept: nothing unhappy path is on ATWIS. It will require some form of shared logger (spreadsheet etc).</p>

<a class="govuk-button govuk-button--secondary" class="govuk-link" href="/{{folder}}/concepts/your-cases">Start from your cases</a>

{{ govukDetails({
          summaryText: "All screens in journey",
          html: mmvp

                  }) }}




                  <h3 class="govuk-heading-m">2. Half-unhappy on AWTIS
                    <span class="govuk-caption-m">
Follow-up notes on ATWIS, contact log off ATWIS</span></h3>
<p>Concept: temporary 'annotations' for needing to contact the applicant are saved on ATWIS and surfaced on the claim screen(s). They disappear when said screen is approved (unlike notes, they're not a permanent history, just a reminder of an issue).</p>
                  <a class="govuk-button govuk-button--secondary" class="govuk-link" href="/{{folder}}/concepts-alt/your-cases">Start from your cases</a>


{% set mvp %}

<h3 class="govuk-heading-m">Agent journey: new application</h3>

<ul class="govuk-list">
    <li><a class="govuk-link" href="/{{folder}}/concepts-alt/your-cases">Your cases</a></li>
          <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/index">Your tasks</a> and  <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/claim">claim</a>
      <ul class="govuk-list govuk-list--bullet">
<li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/1-check/1">Check on searchlight</a> and <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/check/1-unhappy">holder unhappy path</a> - proposed jump to company details as it's not possible to check other details</li>
      <li> <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/1-check/2">check for appointee</a> and <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/check/2-appointee">add appointee details</a></li>
      <li>Check <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/1-check/3">personal details</a> (unhappy annotated on screen) </li>
      <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/1-check/4">company details</a> (unhappy annotated on screen)  </li>
      <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/1-check/5">interview details</a> (unhappy annotated on screen)  </li>

  <li>unhappy path:
    <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/1-check/unhappy-2">IF 2 FORMS OF CONTACT: [how to contact]</a> </li>
    <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/1-check/unhappy-email-1">[send email]</a> and  <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/check/unhappy-email-2">[add to logger]</a> </li>
    <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/1-check/unhappy-phone-1">[phone applicant]</a> and  <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/check/1-unhappy-phone-2">[unhappy path: add to logger]</a> </li>
    </ul>
    </li>
  <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/2-send/1">Send email</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/2">copy claim details</a>, <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/2-send/3">create cover letter</a> and <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/2-send/4">print and send</a> (no unhappy paths)</li>

      <li><a class="govuk-link" href="/{{folder}}/concepts-alt/your-cases-waiting">Your cases (waiting)</a>, <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/index-waiting">case index (waiting)</a> and <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/claim-waiting">claim (waiting)</a></li>
      </ul>

      <h3 class="govuk-heading-m">Agent journey: same-day application only</h3>

      <ul class="govuk-list">
          <li><a class="govuk-link" href="/{{folder}}/concepts-alt/your-cases-same-day">Your cases (same day)</a></li>
                <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/index-same-day">Your tasks (same day)</a> and <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/claim-same-day">claim (same day)</a></li>
            </ul>

      <h3 class="govuk-heading-m">Agent journey: after interview</h3>

      <ul class="govuk-list">
      <li><a class="govuk-link" href="/{{folder}}/concepts-alt/your-cases-interview">Your cases</a></li>
      <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/index-interview">Your tasks</a>
      <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/3-contact/index">Contact employer</a></li>
              <li>Email:
      <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/3-contact/email/1">Send email</a> and <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/contact/email/1">success</a>
      </li>
        <li>Phone:
      <a class="govuk-link" href="/{{folder}}/concepts-alt/csi/3-contact/phone/1">Contact employer</a>
      </li>

      <li>Update (goes to confirm)
      </li>

              <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/4-confirm/1">Confirm interview took place</a> </li>
              <li><a class="govuk-link" href="/{{folder}}/concepts-alt/csi/4-confirm/complete">Tasks complete</a></li>
      </ul></li>
      <li><a class="govuk-link" href="/{{folder}}/concepts-alt/your-cases-empty">Your cases (empty)</a></li>

      </ul>

{% endset %}
{{ govukDetails({
          summaryText: "All screens in journey",
          html: mvp

                  }) }}




                  <h3 class="govuk-heading-m">3. Everything on AWTIS (still missing some elements)
                  <span class="govuk-caption-m">Complete replacement of everything</span></h3>
                <p>Concept: all fields can be tagged as needing more details. Contact actions also saved in ATWIS.</p>
                  <a class="govuk-button govuk-button--secondary" class="govuk-link" href="/{{folder}}/full/your-cases">Start from your cases</a>








{% set full %}


                  <h3 class="govuk-heading-m">Agent journey: new application</h3>

                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases">Your cases</a></li>
                            <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index">Your tasks</a> and  <a class="govuk-link" href="/{{folder}}/concepts/csi/claim">claim</a>
                        <ul class="govuk-list govuk-list--bullet">
                  <li><a class="govuk-link" href="/{{folder}}/concepts/csi/check/0">Check on searchlight</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/check/0-unhappy">holder unhappy path</a> - proposed jump to company details as it's not possible to check other details</li>
                        <li> <a class="govuk-link" href="/{{folder}}/concepts/csi/check/1">check for appointee</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/check/appointee">add appointee details</a></li>
                        <li>Check <a class="govuk-link" href="/{{folder}}/concepts/csi/check/2">personal details</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/check/2-unhappy">personal details unhappy path</a> </li>
                        <li><a class="govuk-link" href="/{{folder}}/concepts/csi/check/3">company details</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/check/3-unhappy">company details unhappy path</a> </li>
                        <li><a class="govuk-link" href="/{{folder}}/concepts/csi/check/4">interview details</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/check/4-unhappy">interview unhappy path</a> </li>

                    <li>Unhappy path <a class="govuk-link" href="/{{folder}}/concepts/csi/fix/index">more information needed</a></li>
                            <li><a class="govuk-link" href="/{{folder}}/concepts/csi/send/1">Send email</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/send/2">copy claim details</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/send/3">create cover letter</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/send/4">print and send</a> (no unhappy paths)</li>
                  </ul></li>
                        <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-waiting">Your cases (waiting)</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/index-waiting">case index (waiting)</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/claim-waiting">claim (waiting)</a></li>
                        </ul>

                        <h3 class="govuk-heading-m">Agent journey: same-day application only</h3>

                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-same-day">Your cases (same day)</a></li>
                                  <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index-same-day">Your tasks (same day)</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/claim-same-day">claim (same day)</a></li>
                              </ul>

                        <h3 class="govuk-heading-m">Agent journey: after interview</h3>

                        <ul class="govuk-list">
                        <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-interview">Your cases</a></li>
                        <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index-interview">Your tasks</a>
                        <ul class="govuk-list govuk-list--bullet">
                              <li><a class="govuk-link" href="/{{folder}}/concepts/csi/contact/index">Contact employer</a></li>
                                <li>Email:
                        <a class="govuk-link" href="/{{folder}}/concepts/csi/contact/email/1">Send email</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/contact/email/1">success</a>
                        </li>
                          <li>Phone:
                        <a class="govuk-link" href="/{{folder}}/concepts/csi/contact/email/1">Contact employer</a>
                        </li>

                        <li>Update:<a class="govuk-link" href="/{{folder}}/concepts/csi/contact/update/1">Contact update</a>
                        </li>

                                <li><a class="govuk-link" href="/{{folder}}/concepts/csi/confirm/1">Confirm interview took place</a> </li>
                                <li><a class="govuk-link" href="/{{folder}}/concepts/csi/confirm/complete">Tasks complete</a></li>
                        </ul></li>
                        <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-empty">Your cases (empty)</a></li>

                        </ul>

{% endset -%}

{{ govukDetails({
          summaryText: "All screens in journey",
          html: full

                  }) }}



    </div>
</div>
















{% endblock %}
