
{% extends "layout.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Surrounding agent journey and unhappy path
        <span class="govuk-caption-xl"></span>


<!--
  <h3 class="govuk-heading-m">CSI apply full journey</h3>
   <br>
  <ul class="govuk-list">
      <li><a class="govuk-link" href="/{{folder}}/baseline-as-is/service/apply">CSI apply journey</a></li>
  </ul>
  <ul class="govuk-list govuk-list--bullet">
    <h3 class="govuk-heading-s">Edits</h3>

  <li><a class="govuk-link" href="/{{folder}}/baseline-as-is/service/have-total-cost">Interpreter cost</a>, <a class="govuk-link" href="/{{folder}}/baseline-as-is/service/have-total-cost-no">Kickout page</a>, <a class="govuk-link" href="/{{folder}}/baseline-as-is/service/total-cost">Support cost</a></li>

</ul>
-->

<h3 class="govuk-heading-m">Agent journey: new application</h3>

<ul class="govuk-list">
    <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases">Your cases</a></li>
          <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index">Your tasks</a> and  <a class="govuk-link" href="/{{folder}}/concepts/csi/claim">claim</a>
      <ul class="govuk-list govuk-list--bullet">
<li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/1">Check on searchlight</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/1-unhappy">holder unhappy path</a> - proposed jump to company details as it's not possible to check other details</li>
      <li> <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/2">check for appointee</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/2-appointee">add appointee details</a></li>
      <li>Check <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/3">claim details</a> and unhappy path:
  <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-1">[add to logger]</a> </li>
<li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-2">IF 2 FORMS OF CONTACT: [how to contact]</a> </li>
<li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-email-1">[send email]</a> and  <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-email-2">[add to logger]</a> </li>
<li><a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-phone-1">[phone applicant]</a> and  <a class="govuk-link" href="/{{folder}}/concepts/csi/01-check/unhappy-phone-2">[unhappy path: add to logger]</a> </li>
</ul>
      </li>
          <li><a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/1">Send email</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/2">copy claim details</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/3">create cover letter</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/02-send/4">print and send</a> (no unhappy paths)</li>
</ul></li>
      <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-waiting">Your cases (waiting)</a>, <a class="govuk-link" href="/{{folder}}/concepts/csi/index-waiting">case index (waiting)</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/claim-waiting">claim (waiting)</a></li>
      </ul>

      <h3 class="govuk-heading-m">Agent journey: same-day application only</h3>

      <ul class="govuk-list">
          <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-same-day">Your cases (same day)</a></li>
                <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index-same-day">Your tasks (same day)</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/claim-same-day">claim (same day)</a></li>
            </ul>

      <h3 class="govuk-heading-m">Agent journey: after interview</h3>

      <ul class="govuk-list">
      <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-interview">Your cases</a></li>
      <li><a class="govuk-link" href="/{{folder}}/concepts/csi/index-interview">Your tasks</a>
      <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/index">Contact employer</a></li>
              <li>Email:
      <a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/email/1">Send email</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/email/2">[add to logger]</a>
      </li>
        <li>Phone:
      <a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/email/1">Contact employer</a> and <a class="govuk-link" href="/{{folder}}/concepts/csi/03-contact/email/1">unhappy path: [add to logger]</a>
      </li>

      <li>[update] (goes straight to confirm)</li>
      </li>

              <li><a class="govuk-link" href="/{{folder}}/concepts/csi/04-confirm/1">Confirm interview took place</a> and unhappy path: <a class="govuk-link" href="/{{folder}}/concepts/csi/04-confirm/1-unhappy">[send form to say that it's not being sent</a> - need more information!] </li>
              <li><a class="govuk-link" href="/{{folder}}/concepts/csi/04-confirm/complete">Tasks complete</a></li>
      </ul></li>
      <li><a class="govuk-link" href="/{{folder}}/concepts/your-cases-empty">Your cases (empty)</a></li>

      </ul>



    </div>
</div>
















{% endblock %}
