
{% extends "layout.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Sprint 7
        <span class="govuk-caption-xl">Full journey</span>


        {{ govukDetails({
                  summaryText: "Notes on this sprint",
                  html: '
                  <p>This sprint we:</p>

                  <ul class="govuk-list  govuk-list--bullet">
                      <li>created alternatives for the MVP based on the unhappy path to explore the what’s minimum and viable</li>
                        <li>added the example of the download form and intranet</li>

                  </ul>'

                          }) }}


                            <a class="govuk-button" class="govuk-link" href="/{{folder}}/agreed/your-cases">Start from your cases</a>


                      {% set mvp %}

                      <h3 class="govuk-heading-m">Agent journey: new application</h3>

                      <ul class="govuk-list">
                      <li><a class="govuk-link" href="/{{folder}}/agreed/your-cases">Your cases</a></li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/claim">Case details</a> and change <a class="govuk-link" href="/{{folder}}/agreed/csi/personal-details-change">personal details</a>, <a class="govuk-link" href="/{{folder}}/agreed/csi/company-details-change">company details</a>, and <a class="govuk-link" href="/{{folder}}/agreed/csi/job-details-change">interview details</a> </li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/index">Your tasks</a>
                      <ul class="govuk-list govuk-list--bullet">
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/1">Check on searchlight</a> and <a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/1-unhappy">holder unhappy path</a> - proposed jump to company details as it's not possible to check other details</li>
                      <li> <a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/2">check for appointee</a> and <a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/2-appointee">add appointee details</a></li>
                      <li>Check <a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/3">personal details</a> (unhappy annotated on screen) </li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/4">company details</a> (unhappy annotated on screen)  </li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/5">interview details</a> (unhappy annotated on screen) </li>

                      <li>unhappy path:
                      <ul class="govuk-list govuk-list--bullet">
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-2">IF 2 FORMS OF CONTACT: how do you want to contact the applicant?</a> (and <a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-2-appointee">option for appointee</a> screen)</li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-email-1">send email</a> (and <a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-2-appointee">option for appointee</a> screen)</li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-email-2">email sent</a></li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-phone-1">phone applicant</a> (and <a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-phone-1-appointee">option for appointee</a> screen)</li><li><a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-phone-2">phoned</a> (and <a class="govuk-link" href="/{{folder}}/agreed/csi/1-check/unhappy-phone-2-appointee">option for appointee</a> screen)</li>
                      </ul>
                      </li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/2-send/1">Send email</a> (and <a class="govuk-link" href="/{{folder}}/agreed/csi/2-send/1-appointee">option for appointee</a> screen) </li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/2-send/2">copy claim details</a>
                       (and <a class="govuk-link" href="/{{folder}}/agreed/csi/2-send/2-appointee">option for appointee</a> screen)
                  and link to prototyped <a class="govuk-link" href="/{{folder}}/agreed/intranet/letters">intranet letters</a> with link to form <a href="https://confluence.service.dwpcloud.uk/download/attachments/152748195/Blank%20CSI%20Form%20%28generated%20from%20DISC%29.rtf?api=v2">on Confluence</a></li>
                      <li> <a class="govuk-link" href="/{{folder}}/agreed/csi/2-send/3">print and send</a> (and <a class="govuk-link" href="/{{folder}}/agreed/csi/2-send/3-appointee">option for appointee</a> screen)</li>

                      <li><a class="govuk-link" href="/{{folder}}/agreed/your-cases-waiting">Your cases (waiting)</a>, <a class="govuk-link" href="/{{folder}}/agreed/csi/index-waiting">case index (waiting)</a> and <a class="govuk-link" href="/{{folder}}/agreed/csi/claim-waiting">claim (waiting)</a></li>
                      </ul>

                      <h3 class="govuk-heading-m">Agent journey: same-day application only</h3>

                      <ul class="govuk-list">
                      <li><a class="govuk-link" href="/{{folder}}/agreed/your-cases-same-day">Your cases (same day)</a></li>
                        <li><a class="govuk-link" href="/{{folder}}/agreed/csi/index-same-day">Your tasks (same day)</a> and <a class="govuk-link" href="/{{folder}}/agreed/csi/claim-same-day">claim (same day)</a></li>
                      </ul>

                      <h3 class="govuk-heading-m">Agent journey: after interview</h3>

                      <ul class="govuk-list">
                      <li><a class="govuk-link" href="/{{folder}}/agreed/your-cases-interview">Your cases</a></li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/index-interview">Your tasks</a>
                      <ul class="govuk-list govuk-list--bullet">
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/3-contact/index">Contact employer</a></li>
                      <li>Email:
                      <a class="govuk-link" href="/{{folder}}/agreed/csi/3-contact/email/1">Send email</a> and <a class="govuk-link" href="/{{folder}}/agreed/csi/contact/email/1">success</a>
                      </li>
                      <li>Phone:
                      <a class="govuk-link" href="/{{folder}}/agreed/csi/3-contact/phone/1">Contact employer</a>
                      </li>

                      <li>Update (goes to confirm)
                      </li>

                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/4-confirm/1">Confirm interview took place</a> </li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/csi/4-confirm/complete">Tasks complete</a></li>
                      </ul></li>
                      <li><a class="govuk-link" href="/{{folder}}/agreed/your-cases-empty">Your cases (empty)</a></li>

                      </ul>


                      <h3 class="govuk-heading-m">Intranet screens</h3>

                      <ul class="govuk-list">
                      <li><a class="govuk-link" href="/{{folder}}/agreed/intranet/forms">Forms</a></li>
  <li><a class="govuk-link" href="/{{folder}}/agreed/intranet/letters">Letters</a> with link to form (<a href="https://confluence.service.dwpcloud.uk/download/attachments/152748195/Blank%20CSI%20Form%20%28generated%20from%20DISC%29.rtf?api=v2">on Confluence</a> so sign in)</li>

                      </ul>
                      {% endset %}

                      {{ govukInsetText({
                      html: mvp




                          }) }}





    </div>
</div>
















{% endblock %}
