{% set link = "../index" %}
{% set interviewLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% set title =  "Email the employer" %}


{% block csi %}

<p>Send an email to check that Thomas Brown attended the interview at Tesco on
  1 November.

  <p class="govuk-body">The email should include the following information:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>The date of the interview</li>
    <li>Asking if the interpreter or support worker attended the interview</li>
  </ul>

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Open new email
  </button>

<br>
</br>
{{ govukRadios({

    classes: "govuk-radios--inline",
       idPrefix: "sent-email",
       name: "sent-email",
       fieldset: {
         legend: {
           text: "Have you sent the email?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
