{% set link = "../index" %}
{% set interviewLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% set title =  "Email the employer" %}


{% block csi %}

<p>Send an email to check whether Thomas Brown attended the interview at Tesco on
  1 November with an interpreter or support worker.
<br>
</br>

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Open new email
  </button>

<br>

{{ govukRadios({

    classes: "govuk-radios--inline",
       idPrefix: "sent-email",
       name: "sent-email",
       fieldset: {
         legend: {
           text: "Have you sent the email?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
