
{% set link = "../5b-decide/1" %}
{% set paymentAdviserLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% if data['appointee'] == 'yes' %}{% set appointeeLink = "-appointee" %}{% else %}{% set appointeeLink = "" %}{% endif %}
{% set redirect = [{id : "yes", page: link },  {id: "no", page: "../index-payment-adviser" } ] %}

{% set title = "[get more information about payment]" %}

{% block csi %}


<p>[information to playback to get understanding]</p>


<p>Do you have enough information to make a decision?</p>

{{ govukRadios({
  classes: "govuk-radios--inline",
       idPrefix: "confirm",
       name: "confirm",
       fieldset: {

       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}

     {{ govukTextarea({
       name: "payment-difference-detail",
       id: "payment-difference-detail",
       label: {
         text: "[add detail (optional)]"
       }
     }) }}


{% endblock %}
