{% set page = "task-list" %}
{% set title = "Your tasks" %}
{% extends "./_CSIBASE.html" %}

{% block csi %}

{% macro taskListItem(title="'title'", link='#', completed='', locked='') %}

<li class="app-task-list__item">
  <span class="app-task-list__task-name">
  {% if not locked %}  <a href="{{link}}" aria-describedby="eligibility-completed"> {% endif %}
      {{title}}
    {% if not locked %}   </a> {% endif %}
  </span>
{% if completed %}
<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
{% elif locked %}
<!-- Can't start yet -->
<strong class="govuk-tag app-task-list__task-completed" style="color: black; background: white" id="eligibility-locked">Can't start yet</strong>

{% else %}{% endif %}
</li>


{% endmacro %}


              <ol class="app-task-list">
                      <li>
                        <h2 class="app-task-list__section">
                          <span class="app-task-list__section-number">1. </span> Review and decide
                        </h2>
                        <ul class="app-task-list__items">

{{taskListItem(title="Check personal details", link="check/1", completed=(data['personal'] or interview or waiting or verified), locked=(interview or waiting or verified))}}


{{taskListItem(title="Check for appointee", link="check/2", completed=(data['appointee'] or interview or waiting or verified), locked=(interview or waiting or verified))}}

{{taskListItem(title="Check company details", link="check/3", completed=(data['company'] or interview or waiting or verified), locked=(interview or waiting or verified))}}

{{taskListItem(title="Check interview details", link="check/4", completed=(data['interview'] == "yes" or interview or waiting or verified), locked=(interview or waiting or verified))}}




</ul>
</li>
</ol>

<ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Send confirmation
          </h2>
          <ul class="app-task-list__items">


            {{taskListItem(title="Send a confirmation email", link="send/1", completed=(data['send'] == "yes" or interview or waiting ), locked=(data['claim'] == "yes" or interview or waiting) ) }}

            {{taskListItem(title="Print and send the form and cover note", link="send/2", completed=(data['claim'] == "yes" or interview or waiting), locked=(data['claim'] == "yes" or interview or waiting) )}}




</ul>
</li>
</ol>


<ol class="app-task-list">
        <li>
                        <h2 class="app-task-list__section">
                          <span class="app-task-list__section-number">3. </span> After the interview
                        </h2>


                        <ul class="app-task-list__items">

    {{taskListItem(title="Contact employer", link="contact/index", completed=(data['employer'] =="yes"), locked=(not interview or data['claim'] == "yes" ))}}

    {{taskListItem(title="Confirm interview took place", link="confirm/1", completed=(data['confirm'] =="yes"), locked=(not interview or data['claim'] == "yes"))}}


                        </ul>
                      </li>
                    </ol>



{% endblock %}



{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
          href: "index",
          text: "Index before interview"
        },
        {
          href: "index-verified",
          text: "Index verified"
        },
        {
          href: "index-waiting",
          text: "Index waiting"
        },
        {
          href: "index-interview",
          text: "Index after interview"
        }
      ]
    }
  }) }}

{% endblock %}
