{% set link = "../../index-interview" %}
{% set interviewLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% set title =  "Email the employer" %}


{% block csi %}

<p>Send an email to check if the applicant attended the interview with an interpreter or support worker.
</p>
<p>

  <div class="govuk-inset-text">
    Employer name: Terry Gibson<br>
    Company name: {{data['csi-info'][0]['company-name']}}<br>
    Applicant name: {{data['csi-info'][0]['name']}}<br>
    Interview date: {{data['csi-info'][0]['interview-date-day']}}
    {{data['csi-info'][0]['interview-date-month'] | toMonth }}<br>
  
  </div>

  {{ govukButton({
    text: "Open new email",
    classes: "govuk-button--secondary",
    href: "mailto:" + data['csi-info'][0]['company-email-address']
  }) }}

<br>

{{ govukRadios({

    classes: "govuk-radios--inline",
       idPrefix: "sent-email",
       name: "sent-email",
       fieldset: {
         legend: {
           text: "Have you sent the email?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
