{% set link = "closed-case" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "../index"}] %}

{% if appointee %}
{% set title =  "Email the applicant’s appointee" %}
{% else %}
{% set title =  "Send case closed letter" %}
{% endif %}

{% block csi %}

<p>Download the form <strong>AtW03ACL Application closure letter</strong> and send it to the following address:</p>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Get the letter",
  classes: "govuk-button--secondary",
  attributes:{'target':'_blank', 'rel' : 'noopener' },
  href: "/" + folder + "/" + subfolder + "/intranet/letters"
}) }}


<div class="govuk-inset-text">
  Thomas Brown <br>
  14 Kings Road <br>
  Birmingham <br>
  Midlands  <br>
  B1 1EQ
</div>

{% if data['searchlight'] == "no" %}
<div class="govuk-inset-text">
  {{data['csi-info'][1]['firstname']}} {{data['csi-info'][1]['surname']}}
  <br>
  {{ data['csi-info'][1]['dob-day'] | safe }} {{ data['csi-info'][1]['dob-month']| toMonth |  safe }}
  {{ data['csi-info'][1]['dob-year'] | safe }}
  <br>B2 8FG
</div>
{% endif %}

{% if data['personal'] == 'no' %}

<h2 class="govuk-heading-m">Personal details</h2>

{% if data['more-detail-3'] %}


{{ govukErrorSummary({
  titleText: "Information to check with the applicant",
  classes: "not-error",
  errorList: [
    {
      text: data['more-detail-3'] | safe
    }
  ]
}) }}

{% endif %}

{% set claimDetails %}
{% set personalDetails = true %}
{% include folder + "/" + subfolder + "/csi/_CLAIMDETAILS.html" %}
{% endset -%}

{{ govukDetails({
  summaryText: "Show personal details",
  html: claimDetails
}) }}

{% endif %}


{% if data['company'] == 'no' %}

<h2 class="govuk-heading-m">Company details</h2>

{% if data['more-detail-4'] %}

{{ govukErrorSummary({
  titleText: "Information to check with the applicant",
  classes: "not-error",
  errorList: [
    {
      text: data['more-detail-4'] | safe
    }
  ]
}) }}

{% endif %}

{% set claimDetails %}
{% set personalDetails = false %}
{% set companyDetails = true %}
{% include folder + "/" + subfolder + "/csi/_CLAIMDETAILS.html" %}
{% endset -%}

{{ govukDetails({
  summaryText: "Show company details",
  html: claimDetails
}) }}

{% endif %}

{% if data['interview'] == 'no' %}

<h2 class="govuk-heading-m">Interview details</h2>

{% if data['more-detail-5'] %}

{{ govukErrorSummary({
  titleText: "Information to check with the applicant",
  classes: "not-error",
  errorList: [
    {
      text: data['more-detail-5'] | safe
    }
  ]
}) }}

{% endif %}

{% set claimDetails %}
{% set personalDetails = false %}
{% set companyDetails = false %}
{% set interviewDetails = true %}
{% include folder + "/" + subfolder + "/csi/_CLAIMDETAILS.html" %}
{% endset -%}

{{ govukDetails({
  summaryText: "Show interview details",
  html: claimDetails
}) }}

{% endif %}

{{ govukRadios({
    classes: "govuk-radios--inline",
     name: "asked-info-email",
       fieldset: {
         legend: {
           text: "Have you printed and sent the letter?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
