{% set link = "claim-router" %}
{% set personalDetails =  true  %}
{% set hideChange = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% block csi %}

<h1 class="govuk-heading-xl">Change company details</h1>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Company name"
  },
  id: "company-name",
  name: "company-name",
  value: "Tesco",
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width-20"
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    classes: "text",
    isPageHeading: true
  }
}) %}

  {{ govukInput({
    label: {
      html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
    },
    id: "address-line-1",
    name: "address-line-1",
    value: "101 Kent Way",
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukInput({
    label: {
      html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
    },
    id: "address-line-2",
    name: "address-line-2",
    value: "",
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width-20"
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    name: "address-town",
    value: "Birmingham",
    classes: "govuk-input--width-20",
    id: "width-10",
    name: "width-10"
  }) }}

  {{ govukInput({
    label: {
      text: "County"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-county",
    name: "address-county",
    value: "Midlands",
    classes: "govuk-input--width-10",
    id: "width-10",
    name: "width-10"
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode"
    },
    id: "address-postcode",
    name: "address-postcode",
    value: "B4 8RT",
    classes: "govuk-input--width-5",
    id: "width-5",
    name: "width-5"
  }) }}

  {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Company contact"
  },
  id: "company-contact",
  name: "company-contact",
  value: "Terry Gibson"
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Email address"
  },
  id: "email",
  name: "company-email-address-change",
  value: data['csi-info'][1]['company-email-address'] | safe
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Phone number"
  },
  id: "Phone",
  name: "Phone",
  value: "07192838482"
}) }}

{% endcall %}

{% endblock %}
