{% set page = "invoice" %}
{% set claim = "true" %}
{% set payments = 'true' %}
{% set phase = "payment" %}
{% set title = "[Invoice details]" %}

{% extends folder + "/" + subfolder + "/csi/_CSIBASE.html" %}

{% block csi %}

<br>
<p class="govuk-body">[When invoice information is added to 'tasks to complete' you will be able to change them here.]</p>


{% macro defItem(key='', value='') %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key ">
      {{key}}
    </dt>
    <dd class="govuk-summary-list__value">
      <p>{{value}}</p>
    </dd>

<dd class="govuk-summary-list__actions">
{% if value %}
  <a class="govuk-link" href="invoice-details-change">
    Change
    <span class="govuk-visually-hidden"></span>
  </a>
  {%endif %}

</dd>


  </div>


{% endmacro %}

{% if not data["invoice-date-month"]  %}
{% set date = "" %}
{% else %}
{% set date = data["invoice-date-day"] + " " + data["invoice-date-month"] | toMonth +  " " + data["invoice-date-year"]   %}
{% endif %}
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  {{ defItem(key='Invoice reference', value=data['invoice-reference']) }}
  {{ defItem(key='Invoice date', value=date) }}
  {{ defItem(key='Payee postcode', value=data['invoice-postcode']) }}
  {{ defItem(key='Payment amount', value=data['invoice-value']) }}
  {{ defItem(key='SOP supplier number', value=data['supplier-reference']) }}


</dl>


{% endblock %}
