{% set link = "../payments-index" %}
{% set paymentLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "1-unhappy"}] %}
{% set title =  "[Ask for invoice]" %}


{% block csi %}

<p>[Email [adviser name] for the invoice to be sent by email]</p>

{{ govukButton({
  text: "Open new email",
  classes: "govuk-button--secondary",
  href: "mailto:" + data['csi-info'][1]['email-for-user-research']
}) }} <br>


{{ govukRadios({
    classes: "govuk-radios--inline",
     name: "send",
       fieldset: {
         legend: {
           text: "[Have you sent the invoice?]",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
