{% set link = "../payments-index" %}
{% set paymentLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "1-unhappy"}] %}
{% set title =  "Send the claim form back to the applicant" %}


{% block csi %}

<p>Send the claim form to:</p>

<div class="govuk-inset-text">
  Thomas Brown <br>
  14 Kings Road <br>
  Birmingham <br>
  Midlands  <br>
  B1 1EQ
</div>


{{ govukRadios({
  classes: "govuk-radios--inline",
       name: "claim-form",
       fieldset: {
         legend: {
           text: "Have you sent the claim form?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}


{% endblock %}
