{% set link = "check-evidence-router" %}
<!--{% set paymentLink = true %}-->
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
<!--{% set redirect = [{id : "yes", page: link }, {id: "no", page: "#"}] %}-->
{% set title =  "Check the evidence" %}


{% block csi %}


  {{ govukRadios({
    classes: "govuk-radios--inline",
         name: "claim-form-signed",
         fieldset: {
           legend: {
             text: "Is the claim form signed?",
             isPageHeading: false,
             classes: "govuk-fieldset__legend--m"
           }
         },
         items: [
         {
           id: "yes",
           value: "yes",
           checked: checked('claim-form-signed', "yes"),
           text: "Yes"
         },
           {
             id: "no",
             value: "no",
             text: "No",
             checked: checked('claim-form-signed', "no")

           }
         ]
       }) }}
<!--Second radio button set-->
       {{ govukRadios({
         classes: "govuk-radios--inline",
              name: "invoice-checked",
              fieldset: {
                legend: {
                  text: "Is the invoice included?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
              {
                id: "yes",
                value: "yes",
                checked: checked('invoice-checked', "yes"),
                text: "Yes"
              },
                {
                  id: "no",
                  value: "no",
                  text: "No",
                  checked: checked('invoice-checked', "no")
                }
              ]
            }) }}



{% endblock %}
