{% set link = "2" %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "1-unhappy"}] %}
{% set title =  "Check the evidence" %}


{% block csi %}

  <!--<div class="govuk-inset-text">
    {{data['csi-info'][1]['firstname']}} {{data['csi-info'][1]['surname']}}
    <br>
    {{ data['csi-info'][1]['dob-day'] | safe }} {{ data['csi-info'][1]['dob-month']| safe }}
    {{ data['csi-info'][1]['dob-year'] | safe }}
    <br>B2 8FG
  </div>-->


  {{ govukRadios({
    classes: "govuk-radios",
         idPrefix: "interview",
         name: "interview",
         fieldset: {
           legend: {
             text: "Is the claim form signed?",
             isPageHeading: false,
             classes: "govuk-fieldset__legend--m"
           }
         },
         hint: {
    html: ""
    },
         items: [
         {
           id: "yes",
           value: "yes",
           checked: checked('interview', "yes"),
           text: "Yes"
         },
           {
             id: "no",
             value: "no",
             text: "No",
             checked: checked('interview', "no"),
             conditional: {
               html: conditionalText
             }
           }
         ]
       }) }}
<!--Second radio button set-->
       {{ govukRadios({
         classes: "govuk-radios",
              idPrefix: "interview",
              name: "interview",
              fieldset: {
                legend: {
                  text: "Is the invoice attached?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
         html: ""
         },
              items: [
              {
                id: "yes",
                value: "yes",
                checked: checked('interview', "yes"),
                text: "Yes"
              },
                {
                  id: "no",
                  value: "no",
                  text: "No",
                  checked: checked('interview', "no"),
                  conditional: {
                    html: conditionalText
                  }
                }
              ]
            }) }}



{% endblock %}
