{% set link = "3" %}
{% set paymentLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "2-1-unhappy"}] %}
{% set title =  "Contact adviser" %}

{% block csi %}
<p>Send an email to the adviser to check the correct cost of support.</p>


{{ govukButton({
  text: "Open new email",
  classes: "govuk-button--secondary",
  href: "mailto:" + data['csi-info'][1]['email-for-user-research']
}) }}

<br>

<p>[Advisor: John Goldsmith]</p>

<p>[Case: Thomas Brown]</p>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    classes: "govuk-radios",
         idPrefix: "sent-email",
         name: "sent-email",
         fieldset: {
           legend: {
             text: "Have you sent the email?",
             isPageHeading: false,
             classes: "govuk-fieldset__legend--m"
           }
         },
         hint: {
         html: ""
    },
         items: [
         {
           id: "yes",
           value: "yes",
           checked: checked('sent-email', "yes"),
           text: "Yes"
         },
           {
             id: "no",
             value: "no",
             text: "No",
             checked: checked('sent-email', "no"),
             conditional: {
               html: conditionalText
             }
           }
         ]
       }) }}

{% endblock %}
