{% set link = "4-2" %}
{% set paymentLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "#"}] %}
{% set title =  "Download the form" %}


{% block csi %}


<!--<h2 class="govuk-heading-m">Address: 11 Hill Street</h2>-->

<!--<h2 class="govuk-heading-m">Supplier code: 4846738</h2>-->

<p>Download and print the form <strong>DP228</strong>.</p>
<br>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Get the form"
}) }}

<br>
</br>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
         idPrefix: "completed-form",
         name: "completed-form",
         fieldset: {
           legend: {
             text: "Have you downloaded and printed the form?",
             isPageHeading: false,
             classes: "govuk-fieldset__legend--m"
           }
         },
         hint: {
         html: ""
    },
         items: [
         {
           id: "yes",
           value: "yes",
           checked: checked('completed-form', "yes"),
           text: "Yes"
         },
           {
             id: "no",
             value: "no",
             text: "No",
             checked: checked('completed-form', "no"),
             conditional: {
               html: conditionalText
             }
           }
         ]
       }) }}

{%- from "govuk/components/tag/macro.njk" import govukTag -%}


{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: ""

  },
  id: "results-found",
  name: "results-found",
  type: "hidden",
  value: "yes"
}) }}

{% endblock %}
