{% set link = "5" %}
{% set paymentLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "1-unhappy"}] %}
{% set title =  "[Print and send form]" %}


{% block csi %}


<!--<h2 class="govuk-heading-m">Address: 11 Hill Street</h2>-->

<!--<h2 class="govuk-heading-m">Supplier code: 4846738</h2>-->

<div class="govuk-inset-text">
{% if appointee %}
{{data['appointee-name'] | default(appointeeDetails.name) | safe }}<br>
{{appointeeDetails.address | safe }}
{% else %}

Thomas Brown<br>
12 Barley Street<br>
Birmingham<br>
B2 8FG
{% endif  %}

</div>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    classes: "govuk-radios",
         idPrefix: "completed-form",
         name: "completed-form",
         fieldset: {
           legend: {
             text: "[Have you sent the form?]",
             isPageHeading: false,
             classes: "govuk-fieldset__legend--m"
           }
         },
         hint: {
         html: ""
    },
         items: [
         {
           id: "yes",
           value: "yes",
           checked: checked('completed-form', "yes"),
           text: "[Yes, continue]"
         },
           {
             id: "no",
             value: "no",
             text: "[No, change]",
             checked: checked('completed-form', "no"),
             conditional: {
               html: conditionalText
             }
           }
         ]
       }) }}

{%- from "govuk/components/tag/macro.njk" import govukTag -%}


{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: ""

  },
  id: "results-found",
  name: "results-found",
  type: "hidden",
  value: "yes"
}) }}

{% endblock %}
