{% set link = "payee-router" %}
{% set paymentLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set title =  "Check payee details" %}


{% block csi %}






{% set conditionalText %}


{{ govukInput({
  label: {
    text: "Postcode"
  },
  hint: {
    text: "[This is also known as the Site ID]"
  },
  classes: "govuk-input--width-10",
  id: "payee-postcode",
  name: "payee-postcode"
}) }}

{% endset -%}

{{ govukRadios({
       name: "address-match",
       fieldset: {
         legend: {
           text: "[Does the address match?]",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       hint: {
         html: ""
  },
       items: [
         {
           id: "yes",
           value: "yes",
           checked: checked('address-match', "yes"),
           text: "Yes",
           conditional: {
             html: conditionalText
           }

         },
         {
           id: "no",
           value: "no",
           text: "No",
           checked: checked('address-match', "no")

         }
       ]
     }) }}

{{ govukRadios({
  idPrefix: "payee-details-match",
  name: "payee-details-match",
  fieldset: {
    legend: {
      text: "[Do the other details match?]",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      id: "yes",
      value: "yes",
      checked: checked('payee-details-match', "yes"),
      text: "Yes"
    },
    {
      id: "no",
      value: "no",
      checked: checked('payee-details-match', "no"),
      text: "No"

    }
  ]
}) }}



{% endblock %}
