{% set link = "2" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}

<h1 class="govuk-heading-xl">Email employer</h1>


<p>You need to contact [name]. They work at [company].</p>

<p>Their email address is [details]</p>


<p>ADD NOTIFICATION EMAIL HERE</p>


{{ govukRadios({
       idPrefix: "employer",
       name: "employer",
       fieldset: {
         legend: {
           text: "[Have you send an email?]",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
