{% set link = "2" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}

<h1 class="govuk-heading-xl">Email the employer</h1>

<p>Check that Thomas Brown attended his interview.

<p>Copy and paste the following text into an email and send it to:
  <strong>terry@email.com</strong></p>

  <div class="govuk-inset-text">
  DWP confirmation of interview attendance<br>
  <br>
  Thomas Brown told us that he would be attending an interview at Tesco on 12
  December 2019. We need confirmation that Thomas attended the interview so that
  we can pay for his communication support costs.
</div>


{{ govukRadios({
       idPrefix: "employer",
       name: "employer",
       fieldset: {
         legend: {
           text: "Have you sent the email?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
