
{% extends "layout.html" %}

{% block pageTitle %}
  CSI Prototype
{% endblock %}

{% set serviceName = "Apply for commmunication support at interview (Access to Work)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        CSI end-to-end journey prototype
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>

      <p>
        Journey for applying for Communication Support at Interview (CSI) and managing applications.
      </p>


      {{ govukTable({
        caption: "Version history for current team",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Version"
          },
          {
            text: "Date added"
          },
          {
            text: "Description"
          },
          {
            text: "Link"
          }
        ],
        rows: [
          [
            {
              text: "Baseline"
            },
            {
              text: "4 October 2019"
            },
            {
              text: "As-is CSI journey across online service, comms, ATWIS and DiSC"
            },
            {
              html: '<a href="/baseline-as-is/index">Go to baseline</a>'
            }
          ],
          [
            {
              text: "V12"
            },
            {
              text: "24 September 2019"
            },
            {
              text: "Testing application with Deaf participants in Manchester 3 October"
            },
            {
                html: '<a href="/V12/index">Go to V12</a>'
            }
          ]
        ]
      }) }}

      <h3 class="govuk-heading-m">
        Versions from previous team
      </h3>
<ul>
      <li><a href="/V1/start">V1</a></li>
      <li><a href="/V2/start">V2</a></li>
      <li><a href="/V3/start">V3</a></li>
      <li><a href="/V4/start">V4</a></li>
      <li><a href="/V5/start">V5</a></li>
      <li><a href="/V6/start">V6</a></li>
      <li><a href="/V7/landing/start">V7</a></li>
      <li><a href="/V8/landing/start">V8</a></li>
      <li><a href="/V9/landing/start">V9</a></li>
      <li><a href="/V10/landing/start">V10</a></li>
      <li><a href="/V10-updated/updated-content/who-needs-support">V10 updated content</a></li>
      <li><a href="/V11/updated-content/total_cost">V11 support worker question</a></li>
</ul>

    </div>
</div>

{% endblock %}
