
{% extends "layout.html" %}

{% block pageTitle %}
  CSI Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Communication Support at Interview Prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This is a first pass at Communication Support at Interview prototyping.
      </p>

      <p>
        It takes you through possible journeys of applying for Communication Support at Interview (CSI).
      </p>

      <h2 class="govuk-heading-m">Versions</h2>

      <p>These are the existing prototype versions for CSI.</p>
      <li><a href="/V1/start">V1</a></li>
      <li><a href="/V2/start">V2</a></li>
      <li><a href="/V3/start">V3</a></li>
      <li><a href="/V4/start">V4</a></li>
    </div>
</div>

{% endblock %}
