
{% extends "layout.html" %}

{% block pageTitle %}
  Communication support at interview prototype
{% endblock %}

{% set serviceName = "Apply for commmunication support at interview (Access to Work)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        CSI end-to-end journey prototype
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>

      <p>
        Journey for applying for Communication Support at Interview (CSI) and managing applications.
      </p>


      {{ govukTable({
        caption: "Version history for current team",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Version"
          },
          {
            text: "Date added"
          },
          {
            text: "Description"
          },
          {
            text: "Link"
          }
        ],
        rows: [
        [
        {
          text: "Sprint 10 (current)"
        },
        {
          text: "24 January 2020"
        },
        {
          text: "Payments prototype testing 28 January in Harrow"
        },
        {
          html: '<a href="/current/index">Go to sprint 10 (current)</a>'
        }
          ],
        [
        {
          text: "Sprint 9"
        },
        {
          text: "13 January 2020"
        },
        {
          text: "Adding payments journey unhappy path"
        },
        {
          html: '<a href="/sprint-9/index">Go to sprint 9</a>'
        }
          ],
        [
        {
          text: "Sprint 8"
        },
        {
          text: "18 November 2019"
        },
        {
          text: "Adding payments journey"
        },
        {
          html: '<a href="/sprint-8/index">Go to sprint 8</a>'
        }
          ],

        [
        {
          text: "Sprint 7"
        },
        {
          text: "28 November 2019"
        },
        {
          text: "Full journey for testing"
        },
        {
          html: '<a href="/sprint-7/index">Go to sprint 7</a>'
        }
          ],
          [
          {
            text: "Sprint 6"
          },
          {
            text: "13 November 2019"
          },
          {
            text: "MVP unhappy path and payments"
          },
          {
            html: '<a href="/sprint-6/index">Go to sprint 6</a>'
          }
            ],
        [
        {
          text: "Sprint 5"
        },
        {
          text: "28 October 2019"
        },
        {
          text: "Apply and ‘happy path’ amends, ’unhappy path’ concepts"
        },
        {
          html: '<a href="/sprint-5/index">Go to sprint 5</a>'
        }
          ],[
          {
            text: "Sprint&nbsp;4a" | safe
          },
          {
            text: "24 October 2019"
          },
          {
            text: "Amends based on initial adviser"
          },
          {
            html: '<a href="/sprint-4a/index">Go&nbsp;to&nbsp;sprint&nbsp;4a</a>' | safe
          }
        ],[
          {
            text: "Sprint 4"
          },
          {
            text: "17 October 2019"
          },
          {
            text: "Adviser testing in Harrow of happy path journey. Baselining with new sprints"
          },
          {
            html: '<a href="/sprint-4/index">Go to sprint 4</a>'
          }
        ],[
            {
              text: "Baseline"
            },
            {
              text: "4 October 2019"
            },
            {
              text: "As-is CSI journey across online service, comms, ATWIS and DiSC"
            },
            {
              html: '<a href="/sprint-baseline/index">Go to baseline</a>'
            }
          ],
          [
            {
              text: "V12"
            },
            {
              text: "24 September 2019"
            },
            {
              text: "Testing application with Deaf participants in Manchester 3 October"
            },
            {
                html: '<a href="/V12/index">Go to V12</a>'
            }
          ]
        ]
      }) }}

      <h3 class="govuk-heading-m">
        Versions from previous team
      </h3>
<ul>
      <li><a href="/V1/start">V1</a></li>
      <li><a href="/V2/start">V2</a></li>
      <li><a href="/V3/start">V3</a></li>
      <li><a href="/V4/start">V4</a></li>
      <li><a href="/V5/start">V5</a></li>
      <li><a href="/V6/start">V6</a></li>
      <li><a href="/V7/landing/start">V7</a></li>
      <li><a href="/V8/landing/start">V8</a></li>
      <li><a href="/V9/landing/start">V9</a></li>
      <li><a href="/V10/landing/start">V10</a></li>
      <li><a href="/V10-updated/updated-content/who-needs-support">V10 updated content</a></li>
      <li><a href="/V11/updated-content/total_cost">V11 support worker question</a></li>
</ul>

    </div>
</div>

{% endblock %}
