
{% extends "layout.html" %}

{% block pageTitle %}
  CSI Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CSI Sprint Index
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <p>
        This page is showcasing prototypes that have been created for Communication Support at Interview
      </p>

      <h2 class="govuk-heading-m">Sprint 1</h2>

      <li><a href="/V12/gathering-info">Apply Questions Work and Condition Example 1</a></li>
      <li><a href="/V12/gathering-info">Apply Questions Work and Condition Example 2</a></li>
      <li><a href="/V12/contact-info/talk-phone">Contact Info</a></li>
      <li><a href="/V12/support-worker/landing/start">Communication support at Interview</a></li>
    </div>
</div>

{% endblock %}
