{% set link = "complete" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}


{% block csi %}

<h1 class="govuk-heading-xl">Interview decision</h1>

<p>The interview is happening in [add data field here when ready].</p>

<p>The interview length is [add data field here when ready].</p>

<p>The quote for the interpreter or support worker is [add data field here when ready].</p>

{% include folder + "/" + subfolder + "/_CLAIMDETAILS.html" %}

{{ govukRadios({
       idPrefix: "decision",
       name: "decision",
       fieldset: {
         legend: {
           text: "What is your decision?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "accept",
           text: "Accept"
         },
         {
           value: "reject",
           text: "Reject"
         },
         {
           value: "more",
           text: "Ask for more information"
         }
       ]
     }) }}

{% endblock %}
